lab1/docs/troubles.md
lab1/initrd.cpio.gz
lab1/linux/linux-5.4.22
lab1/linux/ramdisk
**/.vscode
lab2/**
!lab2/command.c
!lab2/command.h
!lab2/Makefile
!lab2/shell.c
!lab2/README.md
!lab2/test
lab3/**
!lab3/1.cpp
!lab3/2.cpp
!lab3/3.cpp
!lab3/Makefile
!lab3/README.md
!lab3/test_tool
!lab3/test_tool/checker.py
!lab3/test_tool/data.txt
!lab3/test_tool/runclt.sh
lab4/**
!lab4/main.c
!lab4/syscall_filter.h
!lab4/utility.h
!lab4/Makefile
!lab4/my_notes.md

