lab1/docs/troubles.md
lab1/initrd.cpio.gz
lab1/linux/linux-5.4.22
lab1/linux/ramdisk
**/.vscode
lab2/**
!lab2/command.c
!lab2/command.h
!lab2/Makefile
!lab2/shell.c
!lab2/README.md
!lab2/test
lab3/**
!lab3/1.c
!lab3/Makefile

